.header
    padding-top: 20px
    padding-bottom: 25px
    &-container, &-right, &-phone
        display: flex
        align-items: center
        justify-content: space-between
    &-phone
        margin-right: 90px
    &-menu
        margin-top: 25px
        padding: 12px 40px
        background: $grad
        border-radius: 14px
        color: #fff

@media (max-width: 1000px)
    .header
        padding-top: 15px
        padding-bottom: 20px
        &-phone
            margin-right: 60px
        &-menu
            margin-top: 20px
            padding: 10px 20px

@media (max-width: 800px)
    .header
        padding: 10px 0
        &-container, &-right
            flex-direction: column
        &-phone
            margin-right: 0
            margin-bottom: 10px
        &-menu
            margin-top: 15px