.company
    &-grid
        display: grid
        grid-template-columns: repeat(12, 1fr)
        grid-gap: 20px
        align-items: flex-start
    &-img
        grid-column: 5 span / auto
        border-radius: 0px 50px 300px
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        &__sizer
            padding-bottom: 142%
    &-btns
        display: flex
        a
            &:first-child
                margin-right: 20px
    &-main
        grid-column: 7 span / auto
        padding-top: 60px
    &-text
        margin-bottom: 25px