.hero
    &-container
        display: flex
        align-items: flex-start
        justify-content: space-between
    &-main
        padding-top: 40px
        width: 50%
    &-subtitle
        margin-bottom: 32px
        max-width: 500px
    &-img
        width: 50%
        border-radius: 50px 0px 50px 300px
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        &__sizer
            padding-bottom: 105%